<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    {% block title %}
    {% if title %}
    <title>Site {{ title }}</title>
    {% else %}
    <title>Site</title>
    {% endif %}
    {% endblock %}
</head>
<body>
<ul class="mainmenu">
    {% for m in menu %}
    <li><a href="{{ m.url }}">{{ m.name }}</a></li>
    {% endfor %}
</ul>
{% block context %}
<div class="clear">
    <div class="content">
        {% if title %}
        <h1>Site {{ title }}</h1>
        {% else %}
        <h1>Site</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
</body>
</html>