{% extends 'base.html' %}

{% block context %}
<h1>User information</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="msg {{cat}}">{{ msg }}</div>
{% endfor %}
<p><img src="{{ url_for('static', filename=current_user.get_ava()) }}"></p>
<form action="{{ url_for('userprofile') }}" enctype="multipart/form-data" method="post">
    <p><label>Avatar:</label> <input type="file" name="image"></p>
    <p><input type="submit" value="Add ava"></p>
</form>
<hr>
<h2>Your id: {{ id_user }}</h2>
<p>Your name: {{ current_user.get_name() }}</p>
<p>Your email: {{ current_user.get_email() }}</p>
<hr>
<p><a href="{{ url_for('logout1') }}">Logout</a></p>
{% endblock %}